<!DOCTYPE html>
<html>
	<head>
		<title>Small Anuglar app - Tutorial </title>
		<link rel="stylesheet" href="main.css">
		<script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body >
		<div ng-app="testApp">
			<div ng-controller="TestController">
				<h2>Small AngularJS app</h2>
				<div>
					{{"Lets" + " get" + " started!"}}
				</div>
				<h3 class="controller-msg"> {{message}} </h3>
			</div>
			<div ng-controller="FirstController">
				<h3>{{data.text}}</h3>
				<input type="text" ng-model="data.message">
				<p>{{data.message}}</p>
			</div>
			<!-- this creates a new scope -->
			<div ng-controller="SecondController">
				<h3>This will be reversed</h3>
				<input type="text" ng-model="data.message">
				<p>{{data.message|reverse}}</p>
			</div>
			<div>
				<h3>Type green, blue, purple or yellow</h3>
				<input type="text" ng-model="data.color">
				<p class="{{data.color}} color-change">I am changing color</p>
			</div>
		</div>
	</body>
</html>
